{% extends 'base.html' %}

{% block title %}
О нас
{% endblock %}

{% block body %}
<div class="container">
<main class="px-3">
    <h1>СтроимВам!</h1>
    <p class="lead">СтроимВам — является стабильной компанией, имеет достаточный опыт и ресурсы, а также допуски для работы на объектах нефтеперерабатывающей отрасли — в частности, ПАО «НК «Роснефть», ПАО «Лукойл», Федерального агентства по государственным резервам (Росрезерв) и других заказчиков, предъявляющих высокие требования к производству работ.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Портфолио</a>
    </p>
  </main>
</div>
{% endblock %}